<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>NerdHive</title>
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/main.css')}}"
        />
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='css/admin-panel.css')}}"
        />
        <link
            rel="shortcut icon"
            href="{{url_for('static', filename='img/favicon.png')}}"
            type="image/x-icon"
        />
    </head>
    <body>
        <section class="showcase">
            <div class="show-graphic"></div>
            <div class="portal-form">
                <div class="login-form">
                    <form action="" method="POST">
                        <h4>Welcome back,</h4>
                        {% if msg: %}
                        <span>{{ msg }}</span>
                        {% endif %}
                        <div class="form-control">
                            <label for="email">Email</label>
                            <input
                                type="text"
                                name="email"
                                id="email"
                                required
                            />
                        </div>
                        <div class="form-control">
                            <label for="password">Password</label>
                            <input
                                type="password"
                                name="password"
                                id="password"
                                required
                            />
                        </div>
                        <div class="keep-logged">
                            <input
                                type="checkbox"
                                name="keep-logged"
                                id="keep-logged"
                            />
                            <label for="keep-logged">Keep me logged in</label>
                        </div>
                        <div class="form-control">
                            <button type="submit">Log In</button>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <script src="{{url_for('static', filename='js/index.js')}}"></script>
    </body>
</html>
