<header>
    <div class="nav-container">
        <div class="logo">
            <a href="/">
                <h1>NerdHive&trade;</h1>
            </a>
        </div>
        <ul class="nav-menu">
            <li><a href="/careers">Careers</a></li>
            <li><a href="/communities">Communities</a></li>
            <li><a href="/forum">Forum</a></li>
            <li><a href="/store">Store</a></li>
            <li><a class="button" href="/join">Join NerdHive</a></li>
        </ul>
    </div>
</header>
<section class="showcase">
    <img
        src="../static/img/showcase.png"
        alt="NerdHive Developer"
        width="100%"
    />
</section>
